.itemWrapper {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--medium-grey);
    padding-bottom: 10px;

    .image {
        position: relative;
        width: 80px;
        height: 60px;
        margin-top: 10px;
        border-radius: 10px;
        overflow: hidden;
    }

    .name {
        margin-left: 20px;
    }

    .options {
        flex: 1;
        display: flex;
        justify-content: end;
        gap: 20px;

        .view {
            cursor: pointer;
        }

        .formatColors, .reviews {
            position: relative;
            width: 24px;
            height: 28px;
        }

        div {
            cursor: pointer;
        }
    }
}