.itemDescriptionWrapper {
    display: flex;
    justify-content: space-between;

    .galleryAndDescriptionWrapper {
        display: flex;
        flex-direction: column;
        width: 51%;
        margin-right: 10px;

        .galleryWrapper {
            background-color: var(--white);
            border-radius: 40px 12px 12px 12px;
            padding: 20px;
        }

        .descriptionWrapper {
            padding: 20px;
            flex: 1;
            margin-top: 10px;
            border-radius: 12px 12px 12px 40px;
            background-color: var(--white);

            .titleOptionWrapper {
                display: flex;
                justify-content: center;
                align-items: center;

                .optionWrapper {

                    ul {
                        display: flex;
                        gap: 20px;

                        li {
                            font-size: 30px;
                            font-weight: 500;
                            cursor: pointer;
                        }

                        .active {
                            position: relative;

                            &::before {
                                position: absolute;
                                content: '';
                                height: 4px;
                                width: 100%;
                                background-color: var(--light-green);
                                border-radius: 6px;
                                bottom: -10px;
                            }
                        }
                    }
                }
            }

            span {
                display: inline-block;
                width: 100%;
                font-weight: 400;
                font-size: 20px;
                margin-top: 20px;
                text-align: start;
            }
        }
    }

    .aboutItemWrapper {
        display: flex;
        flex-direction: column;
        background-color: var(--white);
        border-radius: 12px 40px 40px 12px;
        width: 48%;
        padding: 30px 40px;

        .breadcrumbsWrapper {
            align-self: center;
        }

        .titleWrapper {
            margin-top: 20px;
            text-align: center;
            
            h1 {
                font-size: 34px;
                margin: 0;
            }
        }

        .inStockAndRatingWrapper {
            display: flex;
            justify-content: space-evenly;
            width: 100%;
            margin-top: 12px;
            font-weight: 700;
            font-size: 24px;

            .rating {
                position: relative;

                svg {
                    margin-right: 6px;
                }
            }

            .inStock {
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                    margin-right: 10px;
                }
            }
        }

        .propsWrapper {
            margin-top: 30px;

            ul {

                li {
                    margin-top: 10px;
                    color: var(--dark-grey);
                    font-weight: 700;
                    font-size: 22px;

                    span {
                        font-size: 24px;
                        color: var(--black);
                    }
                }
            }
        }

        .priceWrapper {
            margin-top: 30px;
            font-size: 44px;
            font-weight: 700;

            span {
                color: var(--light-green);
            }
        }

        .colorsWrapper {
            display: flex;
            align-items: center;
            margin-top: 20px;
            font-size: 32px;
            font-weight: 700;

            .active {
                border: 2px solid var(--medium-grey);
            }

            .colorOption {
                cursor: pointer;
                margin-left: 10px;
                border-radius: 50%;
                width: 40px;
                height: 40px;
            }
        }

        .buttonsWrapper {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-top: 20px;

            .cartWrapper {
                flex: 1;
                margin-right: 10px;
                overflow-x: clip;
            }

            .addToCart {
                flex: 1;
                margin-right: 10px;
            }

            .buyOneClick {
                width: 100%;
                margin-top: 10px;
            }

            .favoriteWrapper {
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 10px;
                padding: 0 12px;
                background-color: var(--light-green);
                cursor: pointer;
                transition: 0.6s;

                &:hover {
                    background-color: var(--dark-green);
                }
    
                .imgWrapper {
                    position: relative;
                    height: 30px;
                }
            }

            .active {
                background-color: transparent !important;
            
                svg {
                    fill: var(--red) !important;
                }
            }
        }

        .deliveryWrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            margin-top: 20px;
            font-weight: 600;
            font-size: 20px;

            span {
                color: var(--light-green);
            }

            .grey {
                margin-top: 4px;
                color: var(--dark-grey)
            }
        }

        .contactsWrapper {
            text-align: center;
            width: 100%;
            margin-top: 20px;
            font-weight: 700;
            font-size: 24px;
            color: var(--dark-grey);

            a {
                color: var(--light-green);
            }
        }
    }
}