.wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;

    .prevBtn {
        margin-right: 20px;
        margin-left: 0 !important;

        img, svg {
            transform: rotate(180deg);
        }
    }

    .button {
        margin-left: 20px;
        cursor: pointer;
    }

    .paginationItem {

        .link {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 60px;
            height: 60px;
            background-color: var(--light-green);
            border-radius: 16px;
            color: var(--white);
            font-size: 32px;
            font-weight: 700;
            cursor: pointer;
            transition: 0.6s;

            @media screen and (max-width: 480px) {
                width: 40px;
                height: 40px;
                font-size: 20px;
            }

            &:hover {
                background-color: var(--dark-green);
            }
        }

        &:not(:last-child) {
            margin-right: 26px;

            @media screen and (max-width: 480px) {
                margin-right: 12px;
            }
        }
    }

    .active {

        .link {
            border: 2px solid var(--light-grey);
            background-color: var(--dark-green);
        }
    }
}