.headerWrapper {
    display: flex;
    justify-content: space-between;
}

.categoryNavWrapper {
    display: flex;
    align-items: center;
}

.navWrapper {
    display: flex;
    align-items: center;
}