.headerWrapper {
    display: flex;
    justify-content: space-between;

    .logoWrapper {
        display: flex;
        align-items: center;
    }

    .categoryNavWrapper {
        display: flex;
        align-items: center;
        flex: 1;
        margin-left: 36px;
    }

    .navWrapper {
        display: flex;
        align-items: center;
    }
}