.sortWrapper {
    position: relative;

    .titleWrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-weight: bold;
        font-size: 24px;
        cursor: pointer;
        transition: 0.4s;

        &:hover {
            opacity: 0.5;
        }

        .imgWrapper {
            position: relative;
            width: 48px;
            height: 48px;

            @media screen and (max-width: 480px) {
                width: 34px;
                height: 34px;
            }

            img {
                margin-right: 16px;
            }
        }

        @media screen and (max-width: 480px) {
            font-size: 16px;
        }
    }

    .sortList {
        position: absolute;
        top: 0px;
        left: 0;
        background-color: var(--white);
        backdrop-filter: blur(6px);
        border: 1px solid var(--darker-grey);
        border-radius: 10px;
        z-index: 1;
        width: 300px;
        overflow: hidden;

        .sortOption {
            font-weight: bold;
            font-size: 20px;
            padding: 10px;
            cursor: pointer;
            transition: 0.4s;

            &:hover {
                color: var(--light-green);
            }

            &:not(:last-child) {
                border-bottom: 1px solid var(--darker-grey);
            }
        }
    }
}