.whyChoose {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 500px;
    background-color: var(--white);
    overflow: hidden;
    border-radius: 40px;
    margin-top: 10px;

    @media screen and (max-width: 900px) {
        border-radius: 20px;
        height: fit-content;
        margin-top: 4px;
    }

    .titleWrapper {
        padding-top: 52px;
        padding-left: 30px;

        @media screen and (max-width: 900px) {
            padding-top: 20px;
            padding-left: 20px;
        }
    }

    .advantagesWrapper {
        border-top: 1px solid #E6E6E6;
        width: 100%;
        margin-top: 20px;

        ul {
            display: flex;
            justify-content: space-between;
            margin-top: 20px;

            @media screen and (max-width: 900px) {
                flex-direction: column;
            }

            .advantage {
                align-self: self-start;
                width: 33%;
                padding-top: 26px;
                padding-left: 24px;
                padding-bottom: 26px;

                @media screen and (max-width: 900px) {
                    width: 100%;
                    border-right: none;
                    border-bottom: 1px solid #E6E6E6;
                }

                .imgWrapper {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: relative;
                    width: 80px;
                    height: 80px;
                    background-color: #238C00;
                    border-radius: 50%;

                    @media screen and (max-width: 900px) {
                        width: 50px;
                        height: 50px;
                    }

                    .img {
                        position: relative;
                        width: 50px;
                        height: 50px;

                        @media screen and (max-width: 900px) {
                            width: 30px;
                            height: 30px;
                        }
                    }

                }
    
                h3 {
                    margin-top: 10px;
                }
    
                span {
                    display: inline-block;
                    margin-top: 10px;
                }
            }
        }

    }
}