.globalWrapper {
    max-width: 90%;
    margin: 0 auto;

    @media screen and (min-width: 1800px) {
        max-width: 1300px;
    }

    @media screen and (max-width: 900px) {
        max-width: 100%;
    }
}

.header {
    margin-top: 10px;
}

.staticWrapper {
    position: fixed;
    z-index: 5;
    bottom: 20px;
    right: 20px;
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}