.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 3;
    
    .questionWrapper {
        display: flex;
        flex-direction: column;
        position: relative;
        padding: 60px;
        width: 1000px;
        height: 600px;
        background-color: var(--white);
        border-radius: 40px;

        .close {
            position: absolute;
            top: 30px;
            right: 30px;
            cursor: pointer;

            img {
                transition: 1s;
            }

            &:hover img {
                transform: scale(1.1);
            }
        }

        .counter {
            display: inline-block;
            text-align: end;
            margin-top: 20px;
            width: 100%;
            border-bottom: 2px solid var(--darker-grey);
            padding-bottom: 4px;
            color: var(--darker-grey);
            font-size: 32px;
            font-weight: 700;
        }

        .titleWrapper {
            font-weight: 700;
            font-size: 32px;
            margin-top: 20px;
        }

        .question {
            margin-top: 20px;

            .categoriesWrapper {
                display: flex;
                flex-wrap: wrap;
                gap: 20px;

                .category {
                    cursor: pointer;
                    text-align: center;
                    width: 260px;
                    border-radius: 20px;
                    padding: 20px 30px;
                    background-color: var(--light-grey);
                    color: var(--darker-grey);
                    font-size: 24px;
                    font-weight: 700;
                    transition: 1s;
                    border: 2px solid transparent;

                    &:not(:last-child) {
                        margin-right: 20px;
                    }

                    &:hover {
                        color: var(--light-green);
                    }
                }

                .active {
                    color: var(--light-green);
                    border-color: var(--light-green);
                }
            }

            .maximumLoadWrapper {
                display: flex;
                margin-top: 20px;

                .inputWrapper {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-right: 20px;
                    font-size: 32px;
                    font-weight: 700;

                    input {
                        margin-left: 20px;
                    }
                }
            }
        }

        .nextQuestionBtnWrapper {
            border-radius: 20px;
            overflow: hidden;
            margin-top: auto;
            margin-left: auto;
            width: 200px;
            height: 70px;
        }
    }
}