.cardWrapper {
    display: flex;
    flex-direction: column;
    padding: 0 50px;

    .nameRatingWrapper {
        display: flex;
        justify-content: space-between;

        .nameWrapper {
            font-size: 32px;
            font-weight: 700;
        }

        .ratingWrapper {
            display: flex;
        }
    }

    .titleWrapper {
        font-size: 24px;
        font-weight: 700;
        margin-top: 10px;
    }

    .descriptionWrapper {
        margin-top: 20px;
        font-size: 20px;
    }

    .dateWrapper {
        margin-left: auto;
        font-size: 16px;
        font-weight: 700;
        color: var(--darker-grey);
    }
}