.wrapper {
    display: flex;

    .linkWrapper {
        position: relative;
        display: inline-block;

        &:not(:last-child) {
            padding-right: 26px;
        }
    
        .link {
            font-size: 24px;
            color: var(--dark-grey);
        }

        .dot {
            position: absolute;
            width: 6px;
            height: 6px;
            right: 10px;
            top: 0 + 50%;
            background-color: var(--dark-grey);
            border-radius: 50%;
        }
    }
}