.wrapper {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;

    .bg {
        position: absolute;
        background-color: rgba(0, 0, 0, 0.5);
        width: 100%;
        height: 100%;
    }

    .formAndVariantsWrapper {
        position: relative;
        display: flex;
        flex-direction: column;
        background-color: var(--white);
        padding: 40px;
        border-radius: 20px;
        width: 80%;

        .columnsWrapper {
            display: flex;
            justify-content: space-between;

            .variantsWrapper {
                margin-top: 40px;
                width: 40%;
    
                .titleWrapper {
                    text-align: center;
                    font-size: 30px;
                }
    
                .listWrapper {
                    margin-top: 30px;
    
                    .itemWrapper {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        padding: 10px 0;
                        border-bottom: 2px solid var(--darker-grey);
                    }
                }
            }
    
            .createWrapper {
                margin-top: 40px;
                width: 50%;
    
                .titleWrapper {
                    text-align: center;
                    font-size: 30px;
                }

                .colorsWrapper {
                    display: flex;
                    align-items: center;
                    gap: 40px;
                    margin-top: 20px;

                    .title {
                        font-size: 18px;
                    }

                    .active {
                        border: 4px solid var(--darker-grey);
                    }

                    input {
                        border-radius: 20px;
                        border: 2px solid var(--light-green);
                        padding: 10px 20px;
                    }
                }

                button {
                    display: flex;
                    margin-left: auto;
                    margin-top: 20px;
                    border-radius: 20px;
                    border: none;
                    font-size: 20px;
                    padding: 20px 30px;
                    background-color: var(--light-green);
                    color: var(--white);
                }
            }
        }
    }

    .colorWrapper {
        width: 25px;
        height: 25px;
        border-radius: 50%;
    }
}