.addButtonWrapper {
    width: 30%;
    height: 60px;
}

.listWrapper {
    background-color: var(--white);
    margin-top: 20px;
    padding: 20px;
    border-radius: 12px;
    overflow: auto;
    max-height: 80%;
}