.wrapper {
    display: flex;
    flex-direction: column;

    .countStatistic {
        display: flex;
        flex-wrap: wrap;
    
        .item {
            margin-right: 20px;
            margin-top: 10px;
        }
    }

    .entityStatistic {
        margin-top: 10px;
    }
}
