.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    z-index: 3;

    @media screen and (max-width: 480px) {
        z-index: 10;
    }

    .background {
        position: absolute;
        left: 0;
        top: 0;
        width: 100vw;
        height: 100vh;
        z-index: 4;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .formWrapper {
        text-align: center;
        width: 80%;
        max-width: 600px;
        padding: 20px;
        padding-bottom: 40px;
        background-color: var(--white);
        border-radius: 20px;
        z-index: 5;

        @media screen and (max-width: 480px) {
            width: 94%;
            padding: 30px 20px;
        }

        .close {
            position: relative;
            margin-left: auto;
            width: fit-content;
            cursor: pointer;
            width: 30px;
            height: 30px;

            @media screen and (max-width: 480px) {
                width: 20px;
                height: 20px;
            }

            img {
                transition: 1s;
            }

            &:hover {

                img {
                    transform: scale(1.1);
                }
            }
        }

        .inputsWrapper {
            padding: 0 40px;
            margin-top: 40px;
            width: 100%;

            @media screen and (max-width: 480px) {
                padding: 0;
                margin-top: 20px;
            }

            .phoneInputWrapper {
                margin-top: 10px;
            }
        }

        .sendButtonWrapper {
            margin: 0 auto;
            width: 300px;
            margin-top: 20px;
        }
    }
}