.itemDescriptionWrapper {
    display: flex;
    justify-content: space-between;

    .galleryAndDescriptionWrapper {
        display: flex;
        flex-direction: column;
        width: 51%;
        margin-right: 10px;

        .galleryWrapper {
            height: 200px;
            background-color: var(--white);
            border-radius: 40px 12px 12px 12px;
        }

        .descriptionWrapper {
            padding: 20px;
            flex: 1;
            margin-top: 10px;
            border-radius: 12px 12px 12px 40px;
            background-color: var(--white);

            h3 {
                text-align: center;
            }

            span {
                display: inline-block;
                width: 100%;
                font-weight: 400;
                font-size: 20px;
                margin-top: 20px;
                text-align: start;
            }
        }
    }

    .aboutItemWrapper {
        display: flex;
        flex-direction: column;
        background-color: var(--white);
        border-radius: 12px 40px 40px 12px;
        width: 48%;
        padding-top: 30px;
        padding-left: 40px;

        .breadcrumbsWrapper {
            align-self: center;
        }

        .titleWrapper {
            margin-top: 20px;
            text-align: center;
        }

        .inStockAndRatingWrapper {
            display: flex;
            justify-content: space-evenly;
            width: 100%;
            margin-top: 12px;
            font-weight: 700;
            font-size: 24px;

            .rating {
                position: relative;

                svg {
                    margin-right: 6px;
                }
            }

            .inStock {
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                    margin-right: 10px;
                }
            }
        }

        .propsWrapper {
            margin-top: 30px;

            ul {

                li {
                    margin-top: 10px;
                    color: var(--dark-grey);
                    font-weight: 700;
                    font-size: 26px;

                    span {
                        font-size: 24px;
                        color: var(--black);
                    }
                }
            }
        }

        .priceWrapper {
            margin-top: 30px;
            font-size: 44px;
            font-weight: 700;

            span {
                color: var(--light-green);
            }
        }

        .colorsWrapper {
            display: flex;
            align-items: center;
            margin-top: 20px;
            font-size: 32px;
            font-weight: 700;

            .colorOption {
                cursor: pointer;
                margin-left: 10px;
                border-radius: 50%;
                width: 40px;
                height: 40px;
            }
        }
    }
}