.itemDescriptionWrapper {
    display: flex;
    justify-content: space-between;

    .galleryAndDescriptionWrapper {
        margin-right: 10px;
    }

    .aboutItemWrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: var(--white);
        border-radius: 12px 40px 40px 12px;
        width: 48%;
        padding-top: 30px;
        padding-left: 40px;

        .titleWrapper {
            margin-top: 20px;
            text-align: center;
        }

        .inStockAndRatingWrapper {
            display: flex;
            justify-content: space-evenly;
            width: 100%;
            margin-top: 12px;
            font-weight: 700;
            font-size: 24px;

            .rating {
                position: relative;

                svg {
                    margin-right: 6px;
                }
            }

            .inStock {
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                    margin-right: 10px;
                }
            }
        }

        .propsWrapper {
            align-self: self-start;
            margin-top: 30px;

            ul {

                li {
                    margin-top: 10px;
                    color: var(--dark-grey);
                    font-weight: 700;
                    font-size: 26px;

                    span {
                        font-size: 24px;
                        color: var(--black);
                    }
                }
            }
        }

        .priceWrapper {
            align-self: self-start;
            margin-top: 30px;
            font-size: 44px;
            font-weight: 700;

            span {
                color: var(--light-green);
            }
        }
    }
}