:root {
  --black: #000;
  --white: #fff;
  --light-green: #248f00;
  --dark-green: #08400f;
  --light-grey: #ececec;
  --medium-grey: #d9d9d9;
  --darker-grey: #8c8c8c;
  --dark-grey: #6d7280;
  --red: #ff0000;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  padding: 0;
  background-color: #054f1a;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

input[type='checkbox'],
input[type='radio'] {
  display: none;
}

/* Стилизация кастомного radio */
input[type='radio'] ~ label {
  position: relative;
  padding-left: 30px; /* Отступ слева для кастомного radio */
  cursor: pointer;
}

input[type='radio'] ~ label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 30%;
  width: 20px;
  height: 20px;
  border: 2px solid #333; /* Цвет рамки по умолчанию */
  border-radius: 50%; /* Делаем круглым */
}

/* Стилизация кастомного radio при выборе */
input[type='radio']:checked ~ label:after {
  content: '';
  position: absolute;
  left: 7px;
  top: calc(50% - 3px);
  width: 10px;
  height: 10px;
  border-radius: 50%; /* Делаем круглым */
  background-color: var(--light-green);
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.react-calendar__tile--active {
  background-color: green !important;
  color: white !important;
}

.react-calendar__tile--range {
  background-color: var(--light-green) !important;
  color: black !important;
}

.react-calendar__tile--now {
  background-color: var(--dark-green) !important;
  color: white !important;
}