.orderWrapper {
    display: flex;
    margin-top: 10px;
    gap: 10px;

    .infoWrapper {
        width: 70%;

        .titleWrapper {
            font-size: 48px;
            font-weight: 500;
        }

        .optionWrapper {
            display: flex;
            margin-top: 20px;

            .option {
                display: flex;
    
                label {
                    font-size: 36px;
                }
    
                &:not(:last-child) {
                    margin-right: 40px;
                }
            }
        }

        .listWrapper {
            padding: 40px;
            background-color: var(--white);
            border-radius: 40px 12px 12px 40px;

            .titleWrapper {
                font-size: 48px;
                font-weight: 500;
            }

            .swiperWrapper {
                margin-top: 20px;

                .itemWrapper {
                    width: fit-content;
                    padding-left: 32px;

                    .imgWrapper {
                        position: relative;
                        border-radius: 20px;
                        overflow: hidden;
                        width: 200px;
                        height: 130px;

                        img {
                            border-radius: 20px;
                            overflow: hidden;
                        }
                    }

                    .title {
                        font-size: 20px;
                        margin-top: 10px;
                    }

                    .priceColorWrapper {
                        display: flex;
                        justify-content: space-between;
                        margin-top: 10px;

                        .price {
                            font-size: 24px;
                        }

                        .colorWrapper {
                            width: 30px;
                            height: 30px;
                            border-radius: 50%;
                        }
                    }
                }

                .navWrapper {
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                    position: absolute;
                    top: 30%;
                    z-index: 4;
            
                    .navButton {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border: none;
                        background-color: transparent;
                        cursor: pointer;
                    }
                
                    .reverse {
                        transform: rotate(180deg);
                    }
                }
            }
        }

        .deliveryWrapper {
            background-color: var(--white);
            border-radius: 40px 12px 12px 40px;
            margin-top: 10px;
            padding: 40px;

        }

        .contactsWrapper {
            background-color: var(--white);
            border-radius: 40px 12px 12px 40px;
            margin-top: 10px;
            padding: 40px;

            .inputsWrapper {
                margin-top: 20px;

                input:not(:first-child) {
                    margin-top: 10px;
                }
            }
        }

        .paymentWrapper {
            background-color: var(--white);
            border-radius: 40px 12px 12px 40px;
            margin-top: 10px;
            padding: 40px;
        }
    }

    .priceSectionWrapper {
        background-color: var(--white);
        border-radius: 12px 40px 40px 12px;
        padding: 20px;
        width: 100%;

        .titlePriceWrapper {
            display: flex;
            justify-content: space-between;
            font-size: 30px;
            font-weight: 600;

            .priceWrapper {
                color: var(--light-green);
            }
        }

        .counterWrapper {
            display: flex;
            justify-content: space-between;
            margin-top: 10px;
            font-size: 20px;
        }

        .infoWrapper {
            background-color: rgba(36, 143, 0, 0.3);
            border-radius: 20px;
            width: 100%;
            padding: 10px 20px;
            text-align: center;
            font-size: 16px;
            margin-top: 20px;
        }

        button {
            height: 60px;
            margin-top: 40px;
        }
    }
}