.itemWrapper {
    display: flex;
    justify-content: center;
    gap: 40px;
    border-bottom: 1px solid var(--medium-grey);
    padding: 10px;

    .colorWrapper {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: 2px solid #c8c7c7;
    }

    .titleWrapper {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .deleteWrapper {
        display: flex;
        flex: 1;
        cursor: pointer;

        img {
            display: inline-block;
            margin-left: auto;
        }
    }
}