.cardReviewsWrapper {
    overflow: hidden;
    margin-top: 10px;
    background-color: var(--white);
    border-radius: 40px;
    padding: 44px 46px;

    @media screen and (max-width: 480px) {
        padding: 20px;
        margin-top: 4px;
        border-radius: 20px;
    }

    .sliderWrapper {
        position: relative;
        margin-top: 20px;

        .navWrapper {
            position: absolute;
            top: 40%;
            width: 100%;
            display: flex;
            justify-content: space-between;
            z-index: 4;

            @media screen and (max-width: 480px) {
                display: none;
            }

            .navButton {
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: var(--light-green);
                border: none;
                border-radius: 50%;
                width: 40px;
                height: 40px;
                cursor: pointer;
                transition: 1s;

                &:hover {
                    background-color: var(--dark-green);
                }
            }

            .reverse {
                transform: rotate(180deg);
            }
        }
    }

    .reviewButton {
        width: 400px;
        height: 60px;
        margin-top: 20px;
        margin-left: auto;

        @media screen and (max-width: 480px) {
            width: 200px;

            button {
                font-size: 18px;
            }
        }
    }

    .nothingFoundWrapper {
        display: flex;
        justify-content: space-between;
        font-size: 40px;

        @media screen and (max-width: 480px) {
            flex-direction: column;
            font-size: 20px;
        }

        button {
            width: 30%;

            @media screen and (max-width: 480px) {
                font-size: 20px;
                width: 100%;
                margin-top: 20px;
            }
        }
    }
}