.cardReviewsWrapper {
    overflow: hidden;
    margin-top: 10px;
    background-color: var(--white);
    border-radius: 40px;
    padding: 44px 46px;

    .sliderWrapper {
        position: relative;
        margin-top: 20px;

        .navWrapper {
            position: absolute;
            top: 40%;
            width: 100%;
            display: flex;
            justify-content: space-between;
            z-index: 4;

            .navButton {
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: var(--light-green);
                border: none;
                border-radius: 50%;
                width: 40px;
                height: 40px;
                cursor: pointer;
                transition: 1s;

                &:hover {
                    background-color: var(--dark-green);
                }
            }

            .reverse {
                transform: rotate(180deg);
            }
        }
    }

    .nothingFoundWrapper {
        display: flex;
        justify-content: space-between;
        font-size: 40px;

        button {
            width: 30%;
        }
    }
}