.form {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 10px;
    background-color: var(--white);
    border-radius: 40px;
    padding: 4rem;

    @media screen and (max-width: 900px) {
        padding: 30px;
        border-radius: 20px;
        margin-top: 4px;
    }

    .wrapper {
        margin-right: 100px;
        width: 60%;

        @media screen and (max-width: 900px) {
            width: 100%;
            margin-right: 0;
        }

        .formWrapper {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-top: 82px;

            @media screen and (max-width: 900px) {
                justify-content: center;
                align-items: center;
                margin-top: 0;
            }

            input {
                border: none;
                background-color: transparent;
                border-bottom: 2px solid var(--medium-grey);
                font-size: 24px;
                width: 250px;

                @media screen and (max-width: 1260px) {
                    width: 100%;
                    &:nth-child(2n) {
                        margin-top: 30px;
                    }
                }

                @media screen and (max-width: 900px) {
                    margin-top: 30px;
                    width: 100%;
                }

                &::placeholder {
                    color: var(--darker-grey);
                    font-size: 24px;
                }

                &:active, &:focus {
                    outline: none;
                }
            }

            .big {
                width: 100%;
                margin-top: 70px;
            }
        }

        .buttonWrapper {
            display: flex;
            justify-content: flex-end;
            width: 100%;
            margin-top: 50px;
            overflow: hidden;

            @media screen and (max-width: 480px) {
                justify-content: center;
            }
            
            button {
                position: relative;
                background-color: var(--light-green);
                border-radius: 20px;
                border: none;
                padding-top: 22px;
                padding-bottom: 22px;
                padding-right: 88px;
                padding-left: 36px;
                color: var(--white);
                font-size: 24px;
                transition: 0.8s;
                cursor: pointer;
                overflow: hidden;

                &:hover {
                    background-color: var(--dark-green);
                }

                &:hover img {
                    transform: translateX(10px);
                }

                .sended {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    border-radius: 20px;
                    overflow: hidden;
                    background-color: var(--light-green);
                }

                .iconWrapper {
                    position: absolute;
                    right: 8px;
                    top: 8px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: fit-content;
                    background-color: var(--white);
                    border-radius: 20px;
                    padding: 16px;
                    overflow: hidden;

                    img {
                        transition: 0.8s;
                    }
                }

                .activeIcon {

                    img {
                        transition: 0.6s;
                        transform: translateX(100px);
                    }
                }
            }
        }
    }

    .reviewsWrapper {
        align-self: flex-start;

        @media screen and (max-width: 900px) {
            display: none;
        }
    }
}