.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    z-index: 1;

    input[type='checkbox'],
    input[type='radio'] {
        display: block;
        width: fit-content;
    }

    .bg {
        position: absolute;
        background-color: var(--black);
        opacity: 0.5;
        height: 100vh;
        width: 100vw;
    }

    .formWrapper {
        padding: 40px;
        background-color: var(--white);
        border-radius: 40px;
        z-index: 2;
        overflow: auto;
        max-height: 80%;
        width: 80%;

        @media screen and (max-width: 480px) {
            padding: 20px;
        }

        .sendButton {
            display: flex;
            margin-left: auto;
            background-color: var(--light-green);
            border: none;
            border-radius: 12px;
            padding: 20px 40px;
            color: var(--white);
            font-size: 20px;
            cursor: pointer;
        }

        .requiredAndOptionWrapper {
            display: flex;
            gap: 80px;
            border-bottom: 2px solid var(--medium-grey);

            .required {
                width: 46%;
            }

            .option {
                width: 48%;
            }

            @media screen and (max-width: 480px) {
                flex-direction: column;

                .required {
                    width: 100%;
                }

                .option {
                    width: 100%;
                }
            }

            .requiredWrapper {
                display: flex;
                flex-direction: column;
                gap: 20px;
                padding-bottom: 40px;
                margin-right: 40px;
            }
    
            .selectWrapper {
                display: flex;
                flex-direction: column;
                margin-top: 20px;
    
                label {
                    font-size: 24px;
                    margin-bottom: 10px;
                }
    
                div {
                    border-radius: 6px;
                }
            }
        }

        .lineWrapper {
            margin-top: 20px;
            width: 40%;

            @media screen and (max-width: 480px) {
                width: 100%;
                padding-bottom: 10px;
            }
        }
    }
}

.inputWrapper {
    display: flex;
    flex-direction: column;
    margin-top: 20px;

    label {
        font-size: 24px;
        margin-bottom: 10px;
    }

    input, textarea {
        background-color: var(--white);
        border-radius: 6px;
        border: 1px solid var(--medium-grey);
        padding: 6px;
        font-size: 20px;

        &:focus {
            outline: 1px solid green;
        }
    }
}