.cardWrapper {
    display: flex;
    flex-direction: column;
    padding: 0 50px;

    @media screen and (max-width: 480px) {
        padding: 0;
    }

    .nameRatingWrapper {
        display: flex;
        justify-content: space-between;

        .nameWrapper {
            font-size: 32px;
            font-weight: 700;

            @media screen and (max-width: 480px) {
                font-size: 24px;
            }
        }

        .ratingWrapper {
            display: flex;
        }
    }

    .titleWrapper {
        font-size: 24px;
        font-weight: 700;
        margin-top: 10px;

        @media screen and (max-width: 480px) {
            font-size: 20px;
        }
    }

    .descriptionWrapper {
        margin-top: 20px;
        font-size: 20px;

        @media screen and (max-width: 480px) {
            width: 200px;
        }
    }

    .dateWrapper {
        margin-left: auto;
        font-size: 16px;
        font-weight: 700;
        color: var(--darker-grey);
    }
}