.h1 {
    font-size: 60px;
    color: var(--black);
    margin: 0;
}

.h2 {
    margin: 0;
    font-size: 52px;
    color: var(--black);
}

.h3 {
    margin: 0;
    font-size: 32px;
    color: var(--black);
}

.white {
    color: var(--white);
}