.h1 {
    font-size: 60px;
    color: var(--black);
    margin: 0;
}

.h2 {
    margin: 0;
    font-size: 52px;
    color: var(--black);

    @media screen and (max-width: 480px) {
        font-size: 30px;
    }
}

.h3 {
    margin: 0;
    font-size: 32px;
    color: var(--black);

    @media screen and (max-width: 480px) {
        font-size: 24px;
    }
}

.white {
    color: var(--white);
}