.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200vh;
    height: 100vh;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.5);

    .formWrapper {
        padding: 20px;
        background-color: var(--white);
        border-radius: 20px;

        .close {
            display: flex;
            justify-content: flex-end;
            cursor: pointer;

            img {
                transition: 1s;
            }

            &:hover {

                img {
                    transform: scale(1.1);
                }
            }
        }
    }
}