.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200vh;
    height: 100vh;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.5);

    .formWrapper {
        text-align: center;
        width: 600px;
        padding: 20px;
        background-color: var(--white);
        border-radius: 20px;

        .close {
            margin-left: auto;
            width: fit-content;
            cursor: pointer;

            img {
                transition: 1s;
            }

            &:hover {

                img {
                    transform: scale(1.1);
                }
            }
        }

        .inputsWrapper {
            padding: 0 40px;
            margin-top: 40px;
            width: 100%;

            .phoneInputWrapper {
                margin-top: 10px;
            }
        }

        .sendButtonWrapper {
            margin: 0 auto;
            width: 300px;
            margin-top: 20px;
        }
    }
}