.span {
    font-weight: 700;
    font-size: 36px;

    @media screen and (max-width: 480px) {
        font-size: 24px;
        font-weight: 500;
    }
}

.filter {
    margin-top: 20px;

    .selectAll {
        margin-top: 10px;
        cursor: pointer;
        transition: 0.6s;
        width: 80%;

        &:hover {
            opacity: 0.6;
        }

        .btn {
            display: inline-block;
            background-color: var(--light-green);
            border-radius: 10px;
            color: var(--white);
            padding: 10px 20px;
        }
    }

    @media screen and (max-width: 480px) {
        margin-top: 10px;
    }

    .openAll {
        margin-top: 10px;
        font-weight: 600;
        font-size: 24px;
        color: #238C00;
        cursor: pointer;
    }
}
