.input {
    display: inline-block;
    width: 100%;
    padding: 20px 0 20px 16px;
    border: none;
    background-color: transparent;
    font-size: 24px;
    background-color: var(--light-grey);
    border-radius: 30px;

    &::placeholder {
        color: rgba(109, 114, 128, 0.5);
        font-size: 24px;
    }

    &:active, &:focus {
        outline: none;
    }
}