.span {
    font-weight: 700;
    font-size: 36px;
}

.filter {
    margin-top: 20px;

    .openAll {
        margin-top: 10px;
        font-weight: 600;
        font-size: 24px;
        color: #238C00;
        cursor: pointer;
    }
}