.sortWrapper {
    position: relative;

    .titleWrapper {
        display: flex;
        align-items: center;
        font-weight: bold;
        font-size: 24px;
        cursor: pointer;
        transition: 0.4s;

        &:hover {
            opacity: 0.5;
        }

        img {
            margin-right: 16px;
        }
    }

    .sortList {
        position: absolute;
        top: 0px;
        left: 0;
        background-color: var(--white);
        backdrop-filter: blur(6px);
        border: 1px solid var(--black);
        border-radius: 10px;
        z-index: 1;
        width: 300px;
        overflow: hidden;

        .sortOption {
            font-weight: bold;
            font-size: 20px;
            padding: 10px;
            cursor: pointer;
            transition: 0.4s;

            &:hover {
                opacity: 0.5;
            }

            &:not(:last-child) {
                border-bottom: 1px solid var(--darker-grey);
            }
        }
    }
}