.headerWrapper {
    display: flex;
    justify-content: space-between;
    height: 92px;

    .logoCategoryWrapper {
        display: flex;
    }

    .logoWrapper {
        display: flex;
        align-items: center;
    }

    .categoryNavWrapper {
        display: flex;
        align-items: center;
        margin-left: 36px;

        @media (max-width: 1270px) {
            margin-left: 12px;
        }
    }

    .navWrapper {
        display: flex;
        align-items: center;
    }
}