.wrapper {
    display: flex;
    gap: 10px;
    width: 100%;
    margin-top: 10px;

    .cartList {
        width: 60%;
        padding: 40px 0;
        background-color: var(--white);
        border-radius: 40px 12px 12px 40px;
    }

    .cartPriceWrapper {
        padding: 40px;
        width: 40%;
        background-color: var(--white);
        border-radius: 12px 40px 40px 12px;
    }
}