.globalWrapper {
    max-width: 1780px;
    margin: 0 auto;

    @media screen and (max-width: 1600px) {
        width: 1300px;
    }

    @media screen and (max-width: 1400px) {
        width: 1136px;
    }

    @media screen and (max-width: 1156px) {
        width: 960px;
    }
}

.header {
    margin-top: 40px;
}

.staticWrapper {
    position: fixed;
    bottom: 20px;
    right: 20px;
    height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}