.globalWrapper {
    max-width: 1780px;
    margin: 0 3.5%;
}

.header {
    margin-top: 40px;
}

.staticWrapper {
    position: fixed;
    bottom: 20px;
    right: 20px;
    height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}